//! **************************************************************************
// Written by: Map P.58f on Wed Jul 03 08:47:45 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "leds<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "leds<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "leds<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "leds<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "reset" LOCATE = SITE "N17" LEVEL 1;
PIN reset_pin<0> = BEL "reset" PINNAME PAD;
PIN "reset_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

